@font-face {
  font-family: "Bubbble Gum";
  src: url("/bubbble-gum.regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Bubbble Gumm";
  src: url("/bubbble-gum.light-webfont.woff2") format("woff2");
}

h1 {
  font-family: "Bubbble Gum", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

h2 {
  font-family: "Bubbble Gumm", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

h3 {
  font-family: "Bubbble Gumm", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  max-width: 960px;
}

:root {
  --primary: #3a243f;
  --secondary: red;
}

.davi-btn-primary {
  background-color: var(--primary);
  color: #fff !important;
  font-family: "Helvetica Neue";
}

.davi-hero {
  background-image: url(../img/ship.jpg);
  background-color: var(--primary);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 100% 50%;
  height: calc(100vh - 56px);
}

@media (min-width: 576px) {
  .davi-hero {
    height: 60vh;
    min-height: 300px;
  }
}

.hav-img {
  background-image: url(../img/ship.jpg);
  background-size: cover;
  background-position: center;
}

.hav-section-box {
  background-image: url(../img/ship.jpg);
  height: 300px;
  padding: 20px;
}

.hav-section-box-bg1 {
  background-image: url(../img/ship.jpg);
  height: 300px;
  width: 100vw;
  padding: 20px;
}

.hav-footer {
  background-color: black;
}
