@font-face {
  font-family: "Bubbble Gum";
  src: url("/bubbble-gum.regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Bubbble Gumm";
  src: url("/bubbble-gum.light-webfont.woff2") format("woff2");
}

.slogan {
  width: 30%;
  margin: auto;
}

.col {
  flex-basis: 350px;
  flex-grow: 1;
}

img {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.card-text:last-child {
  margin-bottom: 0;
  font-style: italic;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid transparent;
  padding: 0.1rem 0.1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col {
  flex-basis: 350px;
  flex-grow: 1;
  margin: 20px 0px;
}

h1 {
  font-family: "Bubbble Gum", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

h2 {
  font-family: "Bubbble Gumm", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

header h2 {
  font-family: "Bubbble Gumm", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  color: #000000;
}

h3 {
  font-family: "Bubbble Gumm", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

h4 {
  font-family: "Bubbble Gumm", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  color: white;
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  max-width: 960px;
  word-wrap: break-word;
}

.info p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  overflow: hidden;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
  font-family: "Raleway";
}

.navbar-dark .navbar-nav .nav-link {
  color: #000000;
  font-family: "Raleway";
}

:root {
  --primary: #3a243f;
  --secondary: red;
}

.davi-btn-primary {
  background-color: var(--primary);
  color: #fff !important;
  font-family: "Bubbble Gum";
}

.align-items-center {
  align-items: flex-start !important;
}

.davi-hero {
  background-image: url(../img/herobillede.jpg);
  background-color: var(--primary);
  background-size: cover;
  /* background-blend-mode: overlay; */
  background-position: center;
  height: calc(100vh - 200px);
}

.hav-img {
  background-image: url(../img/alle-produkter.jpg);
  background-size: cover;
  background-position: right;
  height: 400px;
}

.hav-section-box {
  /* background-image: url(../img/ship.jpg); */
  background-color: #e1ded9;
  height: auto;
  padding: 20px;
}

.hav-section-box-2 {
  height: auto;
  padding: 20px;
}

.hav-footer {
  background-color: black;
}

.hav-align-content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.hav-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.hav-bg {
  height: 100vh;
  background-image: url(/img/baggrund.png);
  background-attachment: fixed;
  /* background-size: cover; */
}

/* parallax */
/* .parallax {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(/img/baggrund.png);
} */

/* infografik */
#infografik-containter {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}

#parent-1 {
  position: relative;
  width: 20vw;
  margin: auto;
  height: 20vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  display: inline-block;
  vertical-align: middle;
}

#child-1 {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  top: calc(0% - 40px);
  left: calc(50% - 40px);
}
#child-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  top: calc(50% - 40px);
  right: calc(0% - 40px);
}
#child-3 {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  bottom: calc(0% - 40px);
  left: calc(50% - 40px);
}
#child-4 {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  top: calc(50% - 40px);
  left: calc(0% - 40px);
}
#child-1 img {
  max-width: 100%;
  border-radius: 50%;
}
#child-2 img {
  max-width: 100%;
  border-radius: 50%;
}
#child-3 img {
  max-width: 100%;
  border-radius: 50%;
}
#child-4 img {
  max-width: 100%;
  border-radius: 50%;
}

#animate-1 {
  background-color: white;
  border: 2px solid #2980b9;
  color: #2980b9;
  cursor: pointer;
  padding: 5px;
  width: 120px;
  margin: 0 0 0 0px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#your-email {
  width: 100%;
}

/* CAROUSEL */
body {
  margin: 0;
  padding: 0;

  /* color: #ffffff; */
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body header {
  background-color: transparent;
  font-family: "Oswald", sans-serif;
  /* position: fixed; */
  display: block;
  width: 100%;
  height: 48px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90;
}

body header .header-inner {
  padding: 12px 1.5%;
}

body header .header-inner .logo {
  position: relative;
  display: inline;
  width: auto;
  height: auto;
  float: left;
}

body header .header-inner .logo a {
  position: relative;
  display: inline;
  width: auto;
  height: auto;
  color: #ffffff;
  outline: 0px none;
  outline: 0px;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  text-transform: uppercase;
}

body header .header-inner .logo a:hover {
  color: rgba(255, 255, 255, 0.45);
}

body header .header-inner .logo a span {
  font-weight: 700;
}

body header .header-inner nav {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  list-type-style: none;
  float: right;
}

body header .header-inner nav li {
  position: relative;
  display: inline;
  margin-left: 16px;
}

body header .header-inner nav li a {
  font-family: "Oswald", sans-serif;
  position: relative;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  line-height: 24px;
  transition: all 0.35s ease-in-out;
}

body header .header-inner nav li a span {
  position: relative;
  z-index: 2;
}

body header .header-inner nav li a:hover {
  color: rgba(255, 255, 255, 0.45);
}

body section.slideshow {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  height: 100vh;
  margin: 0 auto;
  visibility: hidden;
  overflow: hidden;
}

body section.slideshow ul.navigation {
  position: absolute;
  display: block;
  width: 640px;
  height: 640px;
  padding: 0;
  margin: 0;
  left: -260px;
  top: 50%;
  margin-top: -320px;
  z-index: 10;
}

body section.slideshow ul.navigation li.navigation-item {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: border 0.6s ease-in-out;
}

body section.slideshow ul.navigation li.navigation-item .rotate-holder {
  position: fixed;
  display: block;
  width: 0;
  height: 0;
  left: -9999px;
  top: -9999px;
}

body section.slideshow ul.navigation li.navigation-item .background-holder {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

body
  section.slideshow
  ul.navigation
  li.navigation-item:hover
  .background-holder {
  opacity: 0.75;
}

body
  section.slideshow
  ul.navigation
  li.navigation-item.active
  .background-holder {
  opacity: 0;
  visibility: hidden;
}

body section.slideshow .detail {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
}

body section.slideshow .detail .detail-item {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

body section.slideshow .detail .detail-item .headline {
  position: absolute;
  display: block;
  width: 100%;
  max-width: calc(100% - 480px);
  height: 126px;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  overflow: visible;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 2;
}

body section.slideshow .detail .detail-item .info {
  position: absolute;
  display: block;
  width: 70%;
  /* max-width: calc(100% - 480px); */
  height: 126px;
  top: 45%;
  left: 20%;
  transform: translate(0%, 0%);
  overflow: visible;
  white-space: wrap;
  box-sizing: border-box;
  z-index: 2;
  color: white;
  margin: auto;
}

body section.slideshow .detail .detail-item .headline .letter {
  font-family: "Oswald", sans-serif;
  position: relative;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  color: #ffffff;
  font-size: 50px;
  line-height: 110px;
  font-weight: 900;
  font-kerning: none;
  white-space: nowrap;
  box-sizing: border-box;
  text-transform: uppercase;
}

body section.slideshow .detail .detail-item .background {
  position: absolute;
  display: block;
  width: 100%;
  width: calc(100% + 100px);
  height: 100%;
  height: calc(100% + 100px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

body section.slideshow .detail .detail-item .background::before {
  content: "";
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

body section.slideshow .detail .detail-item.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 576px) {
  .davi-hero {
    height: 60vh;
    height: calc(100vh - 200px);
    align-items: flex-start;
  }

  body section.slideshow .detail .detail-item .headline {
    position: absolute;
    display: block;
    width: 100%;
    max-width: calc(100% - 480px);
    height: 126px;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    overflow: visible;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
  }

  body section.slideshow .detail .detail-item .headline .letter {
    font-family: "Oswald", sans-serif;
    position: relative;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    color: #ffffff;
    font-size: 50px;
    line-height: 110px;
    font-weight: 900;
    font-kerning: none;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  body section.slideshow .detail .detail-item .info {
    width: 45%;
    /* max-width: calc(100% - 480px); */
    height: 126px;
    top: 30%;
    left: 50%;
  }
}
@media (min-width: 768px) {
  .davi-hero {
    height: 70vh;
    height: calc(100vh - 200px);
  }

  .align-items-center {
    align-items: center !important;
  }
  .slogan {
    width: 30%;
    margin: 0;
  }

  body section.slideshow .detail .detail-item .headline {
    position: absolute;
    display: block;
    width: 100%;
    max-width: calc(100% - 480px);
    height: 126px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    overflow: visible;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
  }
  body section.slideshow .detail .detail-item .headline .letter {
    font-family: "Oswald", sans-serif;
    position: relative;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    color: #ffffff;
    font-size: 100px;
    line-height: 110px;
    font-weight: 900;
    font-kerning: none;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  body section.slideshow .detail .detail-item .info {
    width: 50%;
    /* max-width: calc(100% - 480px); */
    height: 126px;
    top: 60%;
    left: 45%;
  }
}
@media (min-width: 992px) {
  .davi-hero {
    height: 80vh;
    min-height: 90%;
  }

  .hav-img {
    background-image: url(../img/alle-produkter.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
  }

  body section.slideshow .detail .detail-item .headline {
    position: absolute;
    display: block;
    width: 100%;
    max-width: calc(100% - 480px);
    height: 126px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
  }
  body section.slideshow .detail .detail-item .headline .letter {
    font-family: "Oswald", sans-serif;
    position: relative;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    color: #ffffff;
    font-size: 132px;
    line-height: 110px;
    font-weight: 900;
    font-kerning: none;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  body section.slideshow .detail .detail-item .info {
    width: 50%;
    /* max-width: calc(100% - 480px); */
    height: 126px;
    top: 65%;
    left: 40%;
  }
}
